:root {
    --purple: #9b2fce;
    --purple-light: #c392da;
    --gray: #888888;
    --black: #303030;
}

body {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 3.5vmin;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--purple);
}

a:hover {
    text-decoration: none;
    color: var(--purple-light);
}

p {
    line-height: 4.5vh;
}

/* NAVBAR START */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 3vmin;
}

#navbar-border {
    margin-top: 1vh;
    background-color: var(--gray);
    height: 0.1vh;
}
  
.navobj {
    float: left;
}

.navobj a {    
    display: block;
    text-align: center;
    padding: 3vh 3vw;
}

.active {
    font-weight: 500;
}

.inactive {
    color: var(--black);
}

/* NAVBAR END */

/* NAME START */

#name {
    color: var(--purple);
}

.name-small {
    color: var(--black);
    font-weight: 300;
    font-size: 6.5vmin;
}

h1 {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 6.5vmin;
}

/* NAME END */

/* INTRO START */

#intro-text {
    display: block;
    width: 60%;
    float: left;
}

#intro-profile {
    width: 30%;
    float: right;
    display: block;
    line-height: 5.5vh;
    text-align: right;
}

a {
    margin: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

/* INTRO END */

/* SECTION START */

.head {
    display: inline-block;
    width: 100%;
    color: var(--black);
    line-height: 4vh;
}

.impt {
    color: var(--purple);
}

.skills {
    width: 33%;
    float: left;
    text-align: center;
}

/* SECTION END */
